<div class="sinlge-bar d-flex flex-row" ng-controller="account">
	<a href="javascript:void(0)" ng-click="onClickLogin()" class="single-icon" style="padding-top:13px; margin-right: 10px"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
	<div style="{{infoState}}">
		<div>{{userInfo.full_name}}</div>
		<div>{{userInfo.account}}</div>
	</div>
</div>